<div>
  <%= image_tag("logos/large.png", alt: "rss feed", class: 'mx-auto h-80 w-auto') %>
  <h2 class="mt-6 text-center text-4xl font-bold tracking-tight text-gray-900 font-['Raleway']">Banco Olmeca</h2>
</div>

<%= form_with model: @account, class: 'mt-8 space-y-6' do |account_form| %>
  <input type="hidden" name="remember" value="true">
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative") %>
  <% end %>
  <div class="-space-y-px rounded-md shadow-sm">
    <div>
      <%= account_form.label :email, class: "text-md font-['Raleway']" %>
      <%= account_form.text_field :email,
      type: 'email',
      placeholder: 'example@example.com',
      class: 'text-md relative block w-full rounded-t-md border-0 py-5
        text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400
        focus:z-10 focus:ring-2 focus:ring-inset focus:ring-[#1A5B61] sm:text-sm sm:leading-6' %>
    </div>
    <div class="mt-8">
      <%= account_form.label :password, class: "text-md font-['Raleway']"  %>
      <%= account_form.password_field :password,
      placeholder: 'x$s@sxS@',
      class: 'text-md relative block w-full rounded-b-md border-0 py-5 text-gray-900
        ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10
        focus:ring-2 focus:ring-inset focus:ring-[#1A5B61] sm:text-sm sm:leading-6' %>
    </div>
  </div>

  <div>
    <button type="submit" class="group relative flex w-full
    justify-center rounded-md bg-[#1A5B61] py-5 px-5
    text-md font-semibold text-white hover:bg-[#43A4AB]
    focus-visible:outline focus-visible:outline-2
    focus-visible:outline-offset-2
    focus-visible:outline-[#43A4AB]">
      <span class="absolute inset-y-0 left-0 flex items-center pl-3">
        <svg class="h-5 w-5 text-[#43A4AB] group-hover:text-[#7BDCE4]" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
        </svg>
      </span>
      Sign in
    </button>
  </div>
<% end %>
