<%= form_with(model: @operation, url: transfer_index_path, class: "contents") do |form| %>
  <% if notice.present? %>
    <div class="mt-5 bg-[#43A4AB] border border-[#1A5B61] text-[#1A5B61] px-4 py-3 rounded relative">
      <%= notice %>
    </div>
  <% end %>

  <% if @operation.errors.any? %>
    <div class="mt-5 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
      <ul>
        <% @operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :concept, class: "font-['Raleway'] text-md" %>
    <%= form.text_field :concept, class: "block shadow rounded-md border
    border-[#1A5B61] outline-none px-3 py-2 mt-2 w-full ring-1 ring-inset
    ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2
    focus:ring-inset focus:ring-[#1A5B61]" %>
  </div>

  <div class="my-5">
    <%= form.label :amount, class: "font-['Raleway'] text-md" %>
    <%= form.text_field :amount, class: "block shadow rounded-md border
    border-[#1A5B61] outline-none px-3 py-2 mt-2 w-full ring-1 ring-inset
    ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2
    focus:ring-inset focus:ring-[#1A5B61]" %>
  </div>

  <div class="my-5">
    <%= form.label :operation_account, class: "font-['Raleway'] text-md" %>
    <%= form.text_field :operation_account, class: "block shadow rounded-md border
    border-[#1A5B61] outline-none px-3 py-2 mt-2 w-full ring-1 ring-inset
    ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2
    focus:ring-inset focus:ring-[#1A5B61]" %>
  </div>

  <div class="inline">
    <%= form.submit class: "font-['Raleway'] group relative flex w-full
    justify-center rounded-md bg-[#1A5B61] py-5 px-5 text-md font-semibold
    text-white hover:bg-[#43A4AB] focus-visible:outline focus-visible:outline-2
    focus-visible:outline-offset-2 focus-visible:outline-[#43A4AB]" %>
  </div>
<% end %>
