<!DOCTYPE html>
<html>
  <head>
    <title>Banco Olmeca</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path("logos/large.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path("logos/medium.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path("logos/small.png") %>">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
