<div class="font-['Roboto'] bg-[#fd938b] border-[#fd938b] grid grid-cols-10 gap-0 items-center p-6 gap-8 rounded-lg border-2 mb-5 bg-[<%= operation_color(operation) %>]  border-[<%= operation_color(operation) %>]">
  <div class="col-span-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-receipt-off" width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M5 21v-16m2 -2h10a2 2 0 0 1 2 2v10m0 4.01v1.99l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2"></path>
      <path d="M11 7l4 0"></path>
      <path d="M9 11l2 0"></path>
      <path d="M13 15l2 0"></path>
      <path d="M15 11l0 .01"></path>
      <path d="M3 3l18 18"></path>
    </svg>
  </div>
  <div class="col-span-7">
    <p class="text-left text-lg text-[#774842] font-bold">
      <%= operation.kind.titleize %>:
      <%= operation.concept %>
      - [<%= number_to_currency(operation.amount, unit: '$', precision: 2, delimiter: '.', separator: ',') %>]
    </p>
  </div>
  <div class="col-span-2">
    <p class="text-center text-xl text-[#774842] font-bold">
      <%= operation.created_at.to_formatted_s(:short)  %>
    </p>
  </div>
</div>
