<div class="font-['Roboto'] bg-[#7bdce4] border-[#7bdce4] grid grid-cols-10 gap-0 items-center p-6 gap-8 rounded-lg border-2 mb-5">
  <div class="col-span-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-receipt-refund" width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2"></path>
      <path d="M15 14v-2a2 2 0 0 0 -2 -2h-4l2 -2m0 4l-2 -2"></path>
    </svg>
  </div>
  <div class="col-span-6">
    <p class="text-left text-lg text-[#1A5B61] font-bold">
      <%= t('operations.transfer', concept: operation.concept) %>
    </p>
    <div class="text-sm text-[#1A5B61] mt-1">
      <p><%= t('operations.from') %>: <%= operation.account.name %> (<%= operation.account.email %>)</p>
      <p><%= operation_target_info(operation) %></p>
    </div>
  </div>
  <div class="col-span-3 text-right">
      <p class="text-2xl font-bold text-[#1A5B61]">
        <%= number_to_currency(operation.amount, unit: '$', precision: 2, delimiter: '.', separator: ',') %>
      </p>
      <p class="text-sm text-gray-600 mt-1">
        <%= format_operation_date(operation.created_at) %>
      </p>
  </div>
</div>
